.header {
  &-main {
    &-logo {
      &-text {
        padding-left: 60px !important;
        margin-left: 8px;
      }
    }

    &-link {
      text-decoration: none;
    }
  }
}

mat-icon {
  color: black;
}
