<!-- to add input of server name -->
<div
  class="d-flex gap-1 my-2 align-items-center"
  *ngFor="let server of serverName; let i = index"
  (click)="onRemoveServer(i)"
>
  <span [ngClass]="getColor()">
    Server {{ server }} with ID {{ i }} is {{ getServerStatus() }}
  </span>

  <button type="button" class="btn btn-danger" (click)="onRemoveServer(i)">
    delete
  </button>
</div>

<hr />

<!-- add thru input from another component -->
<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>

    <app-server-cockpit
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)"
    ></app-server-cockpit>
  </div>
</div>

<hr />

<!-- show added server or blueprint -->
<div
  *ngIf="serverElements.length !== 0"
  class="d-flex col w-100 justify-content-evenly flex-wrap gap-1"
>
  <app-server-element
    *ngFor="let serverElement of serverElements"
    [srvElement]="serverElement"
  ></app-server-element>
</div>
