<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="routing-home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="routing-users"
            routerLinkActive="active"
          >
            Users
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="routing-servers"
            routerLinkActive="active"
          >
            Servers
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Router Outlet for dynamic content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
