<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary mb-2" (click)="onlyOdd = !onlyOdd">
        Toggle to show odd numbers
      </button>

      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>

        <p>basic ngif</p>
        <div *ngIf="!onlyOdd" class="mb-4">
          <li
            class="list-group-item"
            [ngStyle]="{ backgroundColor: even % 2 == 0 ? 'yellow' : 'blue' }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>

        <p>created our own directive</p>
        <div *appUnless="onlyOdd" class="mb-4">
          <li
            class="list-group-item"
            [ngStyle]="{ backgroundColor: even % 2 == 0 ? 'yellow' : 'blue' }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>

        <p>use ngif without the *</p>
        <ng-template [ngIf]="!onlyOdd" class="mb-4">
          <li
            class="list-group-item"
            [ngStyle]="{ backgroundColor: even % 2 == 0 ? 'yellow' : 'blue' }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </ng-template>
      </ul>
    </div>
  </div>

  <p class="my-4 directive" style="background-color: blue" appBasicHighlight>
    Style this with basic directive
  </p>

  <p class="my-4 directive" appBetterHighlight>
    Style this with better directive
  </p>

  <p
    class="my-4 directive"
    [appBindingDirective]="'grey'"
    highlightColor="purple"
  >
    Style this with binding directive and input
  </p>

  <div [ngSwitch]="value" class="border p-1" style="width: fit-content">
    <p>ng switch with value and default</p>
    <p *ngSwitchCase="5">value is 5</p>
    <p *ngSwitchCase="10">value is 10</p>
    <p *ngSwitchCase="100">value is 100</p>
    <p *ngSwitchDefault>value is default</p>
  </div>
</div>
