<section class="experiments d-flex flex-wrap gap-1">
  <div class="items">
    <a class="header-main-link" routerLink="/">
      <button
        mat-raised-button
        class="example-icon home-icon"
        aria-label="Example icon-button with heart icon"
      >
        <span>Home</span>
      </button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/first-page">
      <button
        mat-raised-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <span>Input</span>
      </button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/example-page">
      <button
        mat-raised-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <span>Base</span>
      </button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/experiments-page">
      <button mat-raised-button>
        <span>Experiments</span>
      </button>
    </a>
  </div>

  <div class="items">
    <button mat-raised-button disabled>
      <span>Modules</span>
    </button>
  </div>

  <div class="items">
    <button mat-raised-button disabled>
      <span>Pages</span>
    </button>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/components-page">
      <button mat-raised-button>
        <span>Components</span>
      </button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/recipe-page">
      <button
        mat-raised-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <span>Recipe Book</span>
      </button>
    </a>
  </div>
</section>
