<section class="experiments d-flex flex-wrap gap-1 my-2">
  <div class="items">
    <a class="header-main-link" routerLink="/">
      <app-button [text]="'Home'"></app-button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/first-page">
      <app-button [color]="'link'" [text]="'Input'"></app-button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/example-page">
      <app-button [color]="'warn'" [text]="'Base'"></app-button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/server-page">
      <app-button [text]="'Server'"></app-button>
    </a>
  </div>

  <div class="items">
    <app-button [text]="'Modules'" [disabled]="true"></app-button>
  </div>

  <div class="items">
    <app-button [text]="'Pages'" [disabled]="true"></app-button>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/components-page">
      <app-button [color]="'accent'" [text]="'Components'"></app-button>
    </a>
  </div>

  <div class="items">
    <a class="header-main-link" routerLink="/recipe-page">
      <app-button [text]="'Recipe book'"></app-button>
    </a>
  </div>
</section>
