<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>

      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>

        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngStyle]="{ backgroundColor: even % 2 == 0 ? 'yellow' : 'blue' }"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
      </ul>
    </div>
  </div>

  <p class="my-4 directive" style="background-color: blue" appBasicHighlight>
    Style this with basic directive
  </p>

  <p class="my-4 directive" appBetterHighlight>
    Style this with better directive
  </p>
</div>
