<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-fluid" />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage recipe <span class="caret"> </span>
      </button>

      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShopppingList()" style="cursor: pointer;" class="dropdown-item"> To shopping list </a>
        </li>
        <li>
          <a href="#" class="dropdown-item"> Edit recipe </a>
        </li>
        <li>
          <a href="#" class="dropdown-item"> Delete recipe </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">{{ recipe.description }}</div>
</div>

<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
