<div class="mt-2">
  <h4>Welcome to Server Manager 4.0</h4>
  <p>Manage your Servers and Users.</p>
  <button class="btn btn-primary" (click)="onLoadServer(1)">
    Load Servers 1
  </button>
</div>

<div class="my-2 d-flex gap-1">
  <button class="btn btn-primary" (click)="onLogin()">Login</button>
  <button class="btn btn-secondary" (click)="onLogout()">Logout</button>
</div>

<div *ngIf="loginStatus; else loggedOut">you are logged in.</div>

<ng-template #loggedOut> you are logged out. </ng-template>
