<div class="row">
  <div class="col-15">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>

<hr />

<div class="row px-2">
  <div class="list-group d-flex flex-row gap-1">
    <a href="#" class="clearfix" *ngFor="let recipe of recipes">
      <div class="card">
        <img
          [src]="recipe.imagePath"
          class="card-img-top"
          [alt]="recipe.name"
        />

        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>

          <p class="card-text">
            {{ recipe.description }}
          </p>

          <a href="#" class="btn btn-primary">See details</a>
        </div>
      </div>
    </a>
  </div>
</div>

<app-recipes-item></app-recipes-item>
